html {
  height: 100%;
  width: 100%;
}
h2{color: firebrick;font-family:Verdana;}
h3{color: indianred;}
.header 
{ color : red; background-color :#F1F1F1; 
 text-align: center; font-weight: bold; padding: 15px;
}
.menu{}
.menu a{}
