<html>
  < head >
    < meta charset = " utf - 8 " >
    < meta name = " viewport " content = " width = device - width " >
    < title > BÀI TẬP TIN HỌC 120 < / title >
    < link href = " style.css " rel = " stylesheet " type = " text / css " / >
 {
  height: 100%;
  width: 100%;
 }
 h2{color:font-family:;}
 h3{color: yellow;}
 .header{ color : red; background-color :#F1F1F1; 
  text-align: center; font-weight: bold; padding: 15px;
 }
 .menu{background-color:#333;pandding 5px; color:blue}
 .noidung{}
 maudo {color:red;}
.header{color: white; text-align:center; padding: 20px; background-color:black;}
.topnav {overflow: hidden; background-color: #333; }
.topnav a {float: left; display: block; color: pink; text-align: center; padding: 14px 16px; text-decoration: none;}
.topnav a:hover {background-color:#ddd; color:black;}
